.renderer-timeseries-graph {
  position: relative;
  .renderer-timeseries-graph-zoom-resetBtn {
    display: none;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    // background: var(--fc-fill-1);
    // font-size: 12px;
    // text-align: center;
    // width: 84px;
    // height: 31px;
    // line-height: 31px;
    // border: 1px solid var(--fc-border-color);
    // cursor: pointer;
    // color: var(--fc-text-2);
}
}

