.renderer-timeseries-graph {
  position: relative;
  .renderer-timeseries-graph-zoom-resetBtn {
    display: none;
    position: absolute !important;
    z-index: 1 !important;
    top: 10px !important;
    right: 10px !important;
  }
}

