.n9e-uplot-tooltip-container {
  z-index: 999;
  pointer-events: none;
  .n9e-uplot-tooltip {
    color: #333;
    background: var(--fc-fill-1);
    border: 1px solid var(--fc-border-color);
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(136,136,136, 0.2);
    white-space: nowrap;
    padding: 8px;
    margin: 8px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 12px;
      }
    }
    .n9e-uplot-tooltip-header {
      font-weight: bolder;
    }
    .n9e-uplot-tooltip-item-symbol {
      display: inline-block;
      height: 4px;
      width: 12px;
      border-radius: 2px;
    }
  }
}
