.flex-col-container {
    display: flex;    
    height: 90vh; /* 或者适当的高度 */
    margin-right: 20px;
    padding-right: 5dvh;    
    
  }
  
  .flex-col-item {
    flex: 1;
    flex-direction: column;
   
    
  }

   .flex-row-item{
    flex: 1;
    height: 50%;
    border-top:4px #cfcccc;/* 可选：为了显示效果添加边框 */
   }