.prettierrc.json
package.json
package-lock.json

node_modules/*
dist/*
build/*
coverage/*
.vite/*
.cache/*
.DS_Store
pub/*
public/*

*.min.js
*.min.css
*.map

*.png
*.jpg
*.jpeg
*.gif
*.webp
*.svg
*.ico
*.woff
*.woff2
*.ttf
*.eot
*.pdf
*.zip