.ai-chat-btn-box {
  z-index: 4;
  position: fixed;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  .ai-chat-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 40px;
      height: 40px;
    }

    .ai-chat-icon {
      position: absolute;
      width: 20px;
      height: 20px;
    }

    .ai-chat-gif {
      transition: all 0.3s ease-in-out;
    }
  }
}

.layout-header-ai-chat-btn {
  .ai-chat-btn {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    img {
      width: 14px;
      height: 14px;
    }

    .ai-chat-icon {
      position: absolute;
      width: 14px;
      height: 14px;
    }

    .ai-chat-gif {
      transition: all 0.3s ease-in-out;
    }
  }
}
