.theme-light-gold {
  .is-active {
    background: #fff2cb;
  }

  .ant-table-tbody>tr:last-child>td {
    border-bottom: 1px solid var(--fc-primary-color);
  }

  .n9e-pro-tag {
    color: rgb(34, 34, 34);
  }
}