.mt1 {
  margin-top: 8px;
}
.mt2 {
  margin-top: 16px;
}
.mr1 {
  margin-right: 8px;
}
.mr2 {
  margin-right: 16px;
}
.mb0 {
  margin-bottom: 0px;
}
.mb1 {
  margin-bottom: 8px;
}
.mb2 {
  margin-bottom: 16px;
}
.ml1 {
  margin-left: 8px;
}
.ml2 {
  margin-left: 16px;
}
.mtb1 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mtb2 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mlr1 {
  margin-left: 8px;
  margin-right: 8px;
}
.mlr2 {
  margin-left: 16px;
  margin-right: 16px;
}
.m1 {
  margin: 8px;
}
.m2 {
  margin: 16px;
}

.p0 {
  padding: 0px !important;
}
.pt1 {
  padding-top: 8px;
}
.pt2 {
  padding-top: 16px;
}
.pr1 {
  padding-right: 8px;
}
.pr2 {
  padding-right: 16px;
}
.pb1 {
  padding-bottom: 8px;
}
.pb2 {
  padding-bottom: 16px;
}
.pl1 {
  padding-left: 8px;
}
.pl2 {
  padding-left: 16px;
}
.ptb1 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.ptb2 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.plr1 {
  padding-left: 8px;
  padding-right: 8px;
}
.plr2 {
  padding-left: 16px;
  padding-right: 16px;
}
.p1 {
  padding: 8px;
}
.p2 {
  padding: 16px;
}

.width-auto {
  width: auto !important;
}
.height-auto {
  height: auto !important;
}
.affix-bottom-shadow {
  box-shadow: 0px -4px 30px 4px rgba(0, 0, 0, 0.1);
}
.ant-tooltip-auto-width {
  max-width: none !important;
}
.ant-tooltip-max-width-400 {
  max-width: 400px !important;
}
.ant-tooltip-max-width-600 {
  max-width: 600px !important;
}
.ant-tooltip-with-link {
  a {
    color: var(--fc-text-link-light);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.n9e-checkbox-padding-right-0 {
  .ant-checkbox + span {
    padding-right: 0 !important;
  }
}
.n9e-base-shadow {
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.n9e-cursor-pointer {
  cursor: pointer;
}

.text-12 {
  font-size: 12px;
}

.n9e-flex {
  display: flex;
}
.n9e-justify-between {
  justify-content: space-between;
}
.n9e-justify-center {
  justify-content: center;
}
.n9e-items-center {
  align-items: center;
}
.n9e-gap-1 {
  gap: 8px;
}
.n9e-gap-2 {
  gap: 16px;
}
.n9e-w-full {
  width: 100%;
}
.n9e-h-full {
  height: 100%;
}
.n9e-ant-from-item-tooltip {
  color: rgba(0, 0, 0, 0.45) !important;
  cursor: help !important;
  margin-inline-start: 0 !important;
}

.theme-dark {
  .mt1 {
    margin-top: 8px;
  }
  .mt2 {
    margin-top: 16px;
  }
  .mr1 {
    margin-right: 8px;
  }
  .mr2 {
    margin-right: 16px;
  }
  .mb1 {
    margin-bottom: 8px;
  }
  .mb2 {
    margin-bottom: 16px;
  }
  .ml1 {
    margin-left: 8px;
  }
  .ml2 {
    margin-left: 16px;
  }
  .mtb1 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mtb2 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mlr1 {
    margin-left: 8px;
    margin-right: 8px;
  }
  .mlr2 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .m1 {
    margin: 8px;
  }
  .m2 {
    margin: 16px;
  }
  
  
  .pt1 {
    padding-top: 8px;
  }
  .pt2 {
    padding-top: 16px;
  }
  .pr1 {
    padding-right: 8px;
  }
  .pr2 {
    padding-right: 16px;
  }
  .pb1 {
    padding-bottom: 8px;
  }
  .pb2 {
    padding-bottom: 16px;
  }
  .pl1 {
    padding-left: 8px;
  }
  .pl2 {
    padding-left: 16px;
  }
  .ptb1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .ptb2 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .plr1 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .plr2 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .p1 {
    padding: 8px;
  }
  .p2 {
    padding: 16px;
  }

  .affix-bottom-shadow {
    box-shadow: 0px -4px 30px 4px rgba(0, 0, 0, 0.4);
  }
  .n9e-ant-from-item-tooltip {
    color: rgba(255, 255, 255, 0.45) !important;
  }
}

