/* 禁止随意在此文件中添加样式
 * 此文件用于重置全局默认样式
 */

@import './variable.css';
@import './antd.light-gold.less';
@import './antd.dark.less';
@import './default.less';
@import './default.light.less';
@import './default.dark.less';
@import './default.light-gold.less';
@import './deprecated.less';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* 重置默认样式 */
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--fc-border-color);
  }

  /* 2024-12-26 v8 版本解决图表 Tooltip 容器会撑开页面导致滚动条出现的问题 */
  body {
    overflow: hidden;
  }

  html {
    /* 不知道这个样式是用于什么，这里先暂时移过来 */
    --slider-rail: linear-gradient(to right, #45d678 0, #45d678 100%);
    /* 1rem = 16px */
    font-size: 16px;
  }

  @font-face {
    font-family: Monda-Regular;
    src: url('../font/Monda-Regular.ttf');
  }

  @font-face {
    font-family: codicon;
    src: url('../font/codicon.ttf');
  }
}