.n9e-dashboard-panel-table-ng-hide-header {
  .ag-header {
    border-bottom: 0 none;
  }
}

.n9e-dashboard-panel-table-ng {

  // 最后一个 .ag-row 的边框
  .ag-row:last-child {
    border-bottom: 0 none;
  }

  .ag-cell-wrapper {
    width: 100%;
  }

  .n9e-dashboard-panel-table-ng-cell-link {
    text-decoration: underline;
    cursor: pointer;
  }

  .n9e-dashboard-panel-table-ng-cell-links {
    text-decoration: underline;
    cursor: context-menu;
  }
}

.n9e-dashboard-panel-table-ng-links-popover {
  position: fixed !important;
  display: none;

  .n9e-dashboard-panel-table-ng-links-item {
    &:hover {
      background-color: var(--fc-fill-4);
    }
  }
}