.n9e-dashboard-panel-table-ng-hide-header {
  .ag-header {
    border-bottom: 0 none;
  }
}

.n9e-dashboard-panel-table-ng {

  // 最后一个 .ag-row 的边框
  .ag-row:last-child {
    border-bottom: 0 none;
  }

  .ag-cell-wrapper {
    width: 100%;
  }
}