.n9e-hosts-ng-list {
  .n9e-biz-group-container .collapse-btn {
    right: -14px !important;
  }

  .n9e-biz-group-container.collapse .collapse-btn {
    right: 0px !important;
  }

  .n9e-hosts-ng-table {
    .ant-table {
      color: var(--fc-text-3) !important;
    }
  }

  .n9e-hosts-ng-table-row-offline {
    .ant-table-cell {
      color: var(--fc-text-4) !important;
    }
  }
}