.built-in-metrics-form-unit-option-desc {
  padding-left: 16px;
  color: var(--fc-text-4);
}
.built-in-metrics-table-unit-option-desc {
  .built-in-metrics-form-unit-option-desc {
    padding-left: 0;
    color: var(--fc-text-6);
  }
}