.network-devices-container {
  display: flex;
}
.network-devices-main {
  width: 100%;
  padding: 16px;
  .table-text {
    line-height: 1.4;
    display: inline-block;
  }
}
.network-devices-variables-table {
  background: var(--fc-fill-3);
}
.network-devices-tooltip {
  a {
    color: #a78dec;
  }
}