.tipsBox {
  margin-bottom: 16px;
  padding: 16px;
  background-color: var(--fc-primary-bg);
  border-radius: 8px;

  .tipsTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }
}