.customRuleBox {
  .stepBox {
    display: flex;
    width: 100%;

    .stepLeft {
      display: flex;
      flex-direction: column;
      align-items: center;

      .count {
        width: 24px;
        height: 24px;
        font-size: 14px;
        text-align: center;
        color: #fff;
        background-color: var(--fc-primary-color);
        border-radius: 50%;
      }

      .line {
        flex: 1;
        margin: 8px 0;
        border-left: 1px dashed var(--fc-primary-color);
      }
    }

    .stepRight {
      display: flex;
      flex: 1;
      margin-left: 16px;

      .foldIcon {
        cursor: pointer;
        margin-right: 8px;
        font-size: 16px;
      }

      .content {
        flex: 1;
        margin-bottom: 16px;

        .title {
          margin-bottom: 16px;
          font-size: 14px;
        }

        .errorInfo {
          color: #ff4d4f;
        }

        .ant-form-item-control-input {
          min-height: unset;
        }
      }
    }
    .metric-background {
      position: relative;
      margin-bottom: 16px;
      padding: 16px 16px 0;
      background-color: var(--fc-fill-3);

      .metric-del-icon {
        display: none;
        cursor: pointer;
        position: absolute;
        right: -6px;
        top: -6px;
      }

      &:hover {
        .metric-del-icon {
          display: block;
        }
      }
    }
  }
}

.theme-light-gold {
  .customRuleBox {
    .stepBox {
      .stepLeft {
        .count {
          background-color: var(--fc-fill-gold);
        }
      }
    }
  }
}
