.object-manage-page-content {
  display: flex;
  padding: @basePadding;
  overflow-x: auto;
  box-sizing: border-box;
  .table-area {
    padding: 16px;
    flex: 1;
  }
}
.n9e-hosts-table {
  .ant-tag {
    cursor: pointer;
  }
  .table-td-fullBG {
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ant-table-content th,td {
    text-align: center;
  }
  td {
    padding: 1px !important;
    line-height: unset !important;
  }
  .n9e-hosts-table-column-ident,.n9e-hosts-table-column-ip,.n9e-hosts-table-column-tags,.n9e-hosts-table-column-groups {
    text-align: left !important;
    padding: 8px 8px !important;
  }
  .n9e-hosts-table-column-tags {
    max-width: 400px;
  }
}

.mon-manage-table-tooltip {
  .ant-tag {
    margin: 2px 4px;
    cursor: pointer;
  }
}
