/* 该文件变量用于定义不同模式下的颜色变量
 * 浅色模式于深色模式变量一一对应
 * 变量命名统一使用 --fc- 前缀，防止与其他变量冲突
*/

/* 浅色模式 */
:root {
  /* 填充色 */
  --fc-fill-1: rgb(248 250 252);
  --fc-fill-2: rgb(255 255 255);
  --fc-fill-3: rgb(243 244 246);
  --fc-fill-4: rgb(229 231 235);
  --fc-fill-5: rgb(209 213 219);
  --fc-fill-6: rgb(209 213 219);
  --fc-fill-7: rgb(209 213 219);
  --fc-fill-primary: rgb(108 83 177);
  --fc-fill-success: rgb(0 167 0);
  --fc-fill-warning: rgb(250 200 0);
  --fc-fill-alert: rgb(250 125 0);
  --fc-fill-error: rgb(200 0 0);

  /* 文本 */
  --fc-text-1: #1a1a1a;
  --fc-text-2: #333333;
  --fc-text-3: #666666;
  --fc-text-4: #999999;
  --fc-text-5: #d1d1d9;
  --fc-text-link: #6c53b1;
  --fc-text-placeholder: #bfbfbf;

  /* 其他 */
  --fc-primary-color: var(--fc-text-link);
  --fc-border-color: var(--fc-fill-4);
}

/* -------------------  分割线 ------------------- */

/* 深色模式 */
.theme-dark {
  --fc-fill-1: rgb(32 34 46);
  --fc-fill-2: rgb(39 42 56);
  --fc-fill-3: rgb(50 53 69);
  --fc-fill-4: rgb(57 60 77);
  --fc-fill-5: rgb(64 67 84);
  --fc-fill-6: rgb(71 74 91);
  --fc-fill-7: rgb(79 82 99);
  /* --fc-fill-primary: 108 83 177; */
  --fc-fill-success: rgb(63 196 83);
  --fc-fill-warning: rgb(230 198 39);
  --fc-fill-alert: rgb(250 125 0);
  --fc-fill-error: rgb(255 101 107);

  /* 文本 */
  --fc-text-1: #ffffff;
  --fc-text-2: #e6e6e8;
  --fc-text-3: #bfbfc5;
  --fc-text-4: #9999a2;
  --fc-text-5: #737380;
  /* --fc-text-link: #9470FF; */
  --fc-text-placeholder: #bfbfbf;

  /* 其他 */
  --fc-primary-color: var(--fc-text-link);
  --fc-border-color: var(--fc-fill-4);
}