.skills-form-collapse {
  .ant-collapse-header {
    padding: 0 !important;
  }
}

.skills-form-collapse-compact {
  .ant-collapse-content-box {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.skills-sidebar {
  border-right: 1px solid var(--fc-border-color);

  .ant-tree {
    background-color: unset !important;
  }

  .ant-tree-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.skills-section-divider {
  border-bottom: 1px solid var(--fc-border-color);
}