.alert-rules-container {
  display: flex;
  min-width: 0;
}
.alert-rules-list-container {
  flex: 1;
  min-width: 0;
  padding: 16px;
  .table-text {
    line-height: 1.4;
    display: inline-block;
    word-break: break-all;
  }
}