name: Build With Vite

on:
  workflow_dispatch:
  push:
    branches: [master, v5.1]
  pull_request:
    branches: [master, v5.1]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.15.0]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build
        run: |
          npm install
          npm run build

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: package-output
          path: ./dist  # dist 替换为你的实际产物目录
